.headerItem {
  padding: 5%;
  align-self: center;
  text-align: center;
  justify-self: stretch;
}

.active a {
  font-weight: bold;
  color: #137309;
}

.wrapper {
  width: auto;
  margin-left: 15%;
  margin-right: 15%;
}

p {
  margin: 0;
  width: 40%;
  margin-left: 30%;
}

@media only screen and (min-width: 300px) {
  .headerContainer {
    width: 100vw;
    height: 8vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    margin-bottom: 1%;
  }
  .headerItem:nth-child(1) {
    border-left: 0.5px solid black;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .headerItem:nth-child(2) {
    border: 0.5px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  p {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 768px) {
  .headerContainer {
    width: 100vw;
    height: 8vh;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
    margin-bottom: 1%;
  }
  .headerItem:nth-child(1) {
    border-left: 0.5px solid black;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .headerItem:nth-child(2) {
    border: 0.5px solid black;
    grid-column-start: 5;
    grid-column-end: 6;
  }
  p {
    font-size: 1em;
  }
}
