.listContainer {
  width: 100vw;
  height: auto;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
}

.key {
  height: 5vh;
  font-weight: 700;
}

.projectRow {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}
